html, body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
header {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 200px;
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color: #444;
}

ul li {
    margin: 0 15px;
}

ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

ul li a:hover {
    text-decoration: underline;
}

.imagen {
    position: relative; 
    z-index: 10; 
    flex-direction: column;
    display: flex;
    width: 200px;
}

footer{
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

.contenido-formulario{
    border: 1px solid white;
}

* {
    box-sizing: border-box;
}


/*Pagina de contactos*/


.contact-container {
    height: 500px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.contact-form {
    width: 500px;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.contact-form h2 {
    margin: 0 0 10px;
    color: #333;
}

.contact-form p {
    margin-bottom: 25px;
    color: #666;
    font-size: 14px;
}

.form-group {
    margin-bottom: 18px;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    color: #444;
}

button {
    width: 100%;
    padding: 12px;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}
